{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
          <h1>About Us</h1>
          <p class="card-text">Welcome to Restaurant-Review-Blog, where your dining experiences come to life!</p>
            <p class="card-text">Our platform was created with one goal in mind: to empower users to share their restaurant adventures and insights with the world</p>

          <p class="card-text">At Restaurant-Review-Blog, users can craft detailed posts about their visits to restaurants, capturing every flavor and ambiance they encounter.</p>
            <p class="card-text">These posts are then shared with our community, where fellow food enthusiasts can engage by leaving comments and reviews, and expressing their opinion with a simple thumbs-up or thumbs-down.</p>
            
                <p class="card-text">But that's not all! Users can also mark posts as favorites by clicking the heart icon in the bottom right corner of the blog containers on the homepage. This feature ensures that memorable dining experiences are always within reach.</p>
            
                    <p class="card-text">Our mission is clear: to provide users with a comprehensive overview of restaurants, helping them make informed decisions about where to dine. So whether you're seeking culinary inspiration or sharing your latest gastronomic discoveries, Restaurant-Review-Blog is here to satisfy your appetite for great food and great experiences</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
