{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
          <h1><u>About Us:</u></h1>
          <p class="card-text">Welcome to Restaurant-Review-Blog, your go-to destination for vibrant dining experiences!</p>

            <p class="card-text">Restaurant-Review-Blog is designed with a singular purpose: to enable users to share their unique dining adventures and insights with a global audience. Here, users can meticulously document their restaurant visits, capturing the essence of every dining experience, from the exquisite flavors to the ambiance that makes each visit memorable.</p>
            
            <p class="card-text">Our platform fosters a vibrant community where food enthusiasts can engage in meaningful discussions. Users can leave comments, share their reviews, and express their opinions through simple thumbs-up or thumbs-down gestures. This interactive environment encourages a rich exchange of ideas and perspectives, making every visit to Restaurant-Review-Blog a unique culinary adventure.</p>
            
            <p class="card-text">But the journey doesn't end there! Users have the option to mark their favorite posts, ensuring that unforgettable dining experiences are always within easy reach. This feature is a testament to our commitment to enhancing the user experience and making the most cherished dining memories easily accessible.</p>
            
            <p class="card-text">At Restaurant-Review-Blog, we are dedicated to providing users with a comprehensive overview of the dining scene. Our mission is to empower users to make informed dining decisions by offering a wealth of information and insights from fellow food lovers. Whether you're seeking culinary inspiration, sharing your latest gastronomic discoveries, or simply looking for a place to express your love for great food and experiences, Restaurant-Review-Blog is your ultimate companion on the culinary journey.</p>
      </div>
      <br>
      <hr>
      <div class="card-body">
        <h1><u>Contact Us!</u></h1>
        <p class="card-text">Reach out to us to statisfy your needs!</p>
        <hr>
        <p class="card-text">Call our Hotline: <b>062 842 510 474</b></p>
        <p class="card-text">Write us an E-Mail: <b>info@restaurant-blog.com</b></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
