{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container-new-post">
  <h1 class="create-post">Create a new post</h1>
  <div class="row">
    <div class="col-md-8">
      <div id="form-container" style="display: none;">
        {% if user.is_authenticated %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ post_form|crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      {% endif %}
      <div class="card-body" id="new-post-container">
        <h5 class="card-title">Create a New Post</h5>
        <button id="new-post-btn" class="btn btn-primary">New Post</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}