{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% for post in posts %}
    <div class="col-md-4 custom-tablet-col">
      <div class="post-container" style="position: relative;" data-id="{{ post.pk }}"><!--Added data-id-->
        <article class="media content-section">
          <div class="media-body">
            <div class="image-container">
              {% if "placeholder" in post.featured_image.url %}
              <img class="card-img-top" src="{% static 'images/masthead-image.jpg' %}" alt="placeholder image"
                style="width: 100%;">
              {% else %}
              <img class="card-img-top" src="{{ post.featured_image.url }}" alt="Featured Image" style="width: 100%;">
              {% endif %}
            </div>
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.excerpt|safe }}</p>
          </div>
        </article>

        <!-- Likes -->
        <div class="like-section thumb-container"
          style="position: absolute; bottom: 0; right: 0; display:flex; flex-direction:row-reverse">
          <form class="like-form" action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-bg {% if request.user in post.likes.all %}liked{% endif %}">
              <i class="fa fa-heart{% if request.user in post.likes.all %} text-danger{% endif %}"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    {% if forloop.counter > 3 %}
    <div class="col-md-4">
      <article class="media content-section">
        <div class="media-body">
          <div class="image-container">
            {% if post.featured_image == "placeholder" %}
            <img class="card-img-top" src="{% static 'images/masthead-image.jpg' %}" alt="placeholder image"
              style="width: 100%;">
            {% else %}
            <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}" style="width: 100%;">
            {% endif %}
          </div>
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content|safe }}</p>
        </div>
      </article>
    </div>
    {% endif %}
  </div>

  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}


{% block extras %}
{% endblock %}