{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="edit-form-container">
                {% if user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ post_form|crispy }}
                    <button class="btn btn-primary" type="submit">Update</button>
                    <button type="button" class="btn btn-danger" id="cancel-button">Cancel</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}