{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="profile-container">
    <div class="profile-picture">
        {% if "placeholder" in profile.profile_image.url %}
        <img src="{% static 'images/nobody.jpg' %}" width="100vw" alt="placeholder image">
        {% else %}
        <img src="{{ profile.profile_image.url }}" alt="Profile Image">
        {% endif %}
    </div>
    <div class="user-info">
        <h1>{{ user.username }} Profile</h1>
        <p>{{ user.email }}</p>
    </div>
</div>
<!--<div>
        <a class="btn btn-primary" href="{% url 'profile' %}">Edit</a>
    </div>-->
{% if profile_form and user_form %}
    <button class="btn btn-primary" id="edit-button">Edit</button>
    <div id="edit-form" style="display: none;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form|crispy }}
            {{ user_form|crispy }}
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
{% endif %}

<script>
        document.getElementById('edit-button').addEventListener('click', function() {
            document.getElementById('edit-form').style.display = 'block';  // Display the form
            document.getElementById('edit-button').style.display = 'none'; // Hide the edit button
        });
</script>

{% endblock content %}