{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="profile-container">
        <div class="profile-picture">
            {% if "placeholder" in user.profile_image.url %}
                <img src="{% static 'images/nobody.jpg' %}" width="50%" alt="placeholder image">
            {% else %}
                <img src="{{ profile.profile_image.url }}" alt="Profile Image">
            {% endif %}
            </div>
        <div class="user-info">
            <h1>{{ user.username }} Profile</h1>
            <p>{{ user.email }}</p>
            </div>
        </div>

{% endblock content %}